
@model List<ReversoModel> // 假设您的 User 模型类具有类似的属性

<h1>用户信息列表</h1>

<table class="table">
    <thead>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>在线时间</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Time</td>
            </tr>
        }
    </tbody>
</table>